{% from "macros/fields.html" import render_text_field, render_area_field %}

{% extends "layout.html" %}

{%- block head_content %}
    <!-- Add a stylesheet for forms -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"/>
{% endblock %}

{% block main_content %}
    <!-- Create a form with the name "add_movie" -->
    <form name="add_movie" method="post" novalidate class="form">
        <div class="form__container">
            <!-- Include a hidden tag for the form -->
            {{ form.hidden_tag() }}

            <!-- Render the title, director, and year fields using the "render_text_field" macro -->
            {{ render_text_field(form.title) }}
            {{ render_text_field(form.director) }}
            {{ render_text_field(form.year) }}

            <!-- Render the cast, series, and tags fields using the "render_area_field" macro -->
            {{ render_area_field(form.cast) }}
            {{ render_area_field(form.series) }}
            {{ render_area_field(form.tags) }}

            <!-- Render the description and video link fields -->
            {{ render_area_field(form.description) }}
            {{ render_text_field(form.video_link) }}

            <!-- Add a submit button to the form -->
            <div>
                {{ form.submit(class_="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}